html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body
      h1.h1 Set Your Password
      p
        Set  
        | Please click here on this link to set password your app password
        br
        | #{otherProperty}

